
    <div class="card shadow-sm">
      <div class="card-body p-2">
        <div class="p-3 card-img-wrapper">

          <img class="card-img-top" src="{{property.Image}}">
          <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item member-icon">
              <button class="btn btn-primary">C</button>
            </li>
            <li class="list-inline-item member-icon">
              <a class="btn btn-primary" routerLink="property-details/{{property.Id}}">E</a>
            </li>
          </ul>
        </div>

        <h1 style="color: rgb(0, 162, 255);">{{property.Name}}</h1>
        <h2>{{property.Type}}</h2>
        <h3 style="color: red;">{{property.Price}}</h3>
      </div>

    </div>


